
*{
   list-style-type:none;
}
@media (max-width:991px){
    header{
        width: 100%;
        .logo{
         width: 50px;
         height: 50px;
        }
    }
    .menu{
        position:absolute;
        width: 100%;
        top: 90px;
        left: 0;
        left: 0;
        background-color: #0d1414;
        display:none;
        
     }
    
         .menu{
            padding:30px;
            margin: 0;
         }

         label{
            display: initial;
            position: absolute;
            right: 40px;
         }

         .item{
            margin: 0 0 20px 0;
            width: 100%;
            font-weight: 300;
            color: white;
            
         }
         
#menu-hamburguesa:checked ~ .menu{ display: initial;
         }

         iframe{
            width: 380px;

            height: 270px;
         }
        

}

