
*{
   list-style-type:none;
}
@media (max-width:991px){
    header{
        width: 100%;
        .logo{
         width: 50px;
         height: 50px;
        }
    }
    .menu{
        position:absolute;
        width: 100%;
        top: 90px;
        left: 0;
        left: 0;
        background-color: #0d1414;
        display:none;
        
     }
     
     .item-info{
      color:white;
     }
    
         .menu{
            padding:30px;
            margin: 0;
         }

         label{
            display: initial;
            position: absolute;
            right: 40px;
         }

         .item{
            margin: 0 0 20px 0;
            width: 100%;
            font-weight: 300;
            color: white;
            
         }
         .section-img{
            display: flex;
            justify-content: center;
         
                .img01{
                  width: 350px;
                  height: 250px;
                }

         }
         #menu-hamburguesa:checked ~ .menu{
            display: initial;
         }

         iframe{
            width: 380px;

            height: 270px;
         }
         
      
         .item-info:hover{
            background-image: radial-gradient(circle, #154949, #1e2e2e);
            border-radius: 5px;
                transition: 1s;
                color:#c41c46;
                margin: 10px;
                padding: 6px;
                
            
        }

}

