footer{
    background-color:whitesmoke;
    border-top: 1px solid black;
    padding: 1px;
    margin: 0%;
    position: relative;
    top: 130px;
    
    div{ 
        
        img{
            width: 4%;
        }
        
    }
}