footer{
    background-color:whitesmoke;
    border-top: 1px solid black;
    padding: 1px;
    margin: 0%;
    
    
    div{ 
        
        img{
            width: 4%;
            
           
        }
        
    }
}