header{
    height: 100px;
    padding: 0 5%;
    align-items: center;
    display:flex;
    width: 100%;
    justify-content: space-between;
    top:0;
    left:0;
    background-color: whitesmoke;
    border-bottom:2px solid black; 
    width: 100%;
    
    

   nav{ 
    list-style-type:none;
    
    ul{
        list-style-type:none;
        li {
            a{
                font-weight: 400;
                font-size: 20px;
                text-decoration: none;
                color: black;
                font-family: 'Times New Roman', Times, serif
                
            }
            
            
        }
    }
   }
}

.item-info:hover{
    background-image: radial-gradient(circle, #154949, #1e2e2e);
    border-radius: 5px;
        transition: 1s;
        color:#c41c46;
        margin: 10px;
        padding: 6px;
}




.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    margin:0 13px;
    font-weight:300;
}

.logo{
    width: 70px;
    height: 70px;
}

.item:hover{
    transition: 1s;
    color:#ff2258;
    margin: 15px;
    padding: 9px;
}