/*Secciones del Index*/
.section04{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin: 20px;
     text-align: center;
}
.section03{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
    padding: 5px;
}

.section01{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.section02{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
 }

 iframe{
    border-radius:7px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
/*Secciones del Index*/


 /*Secciones de Razas*/



 /*Secciones de Razas*/

/* Divs para todos los archivos html*/
.Divs{
    align-items: center;
    margin: 20px 5px 20px 5px ;
    border-radius: 10px;
    display: flex;
    background-image: radial-gradient(circle at 50%, #1a5555, #000000);
    top:-12px;
    padding: 10px 0 10px 0px;
    width: 1150px;
    
}
/* Divs para todos los archivos html*/