/*Secciones del Index*/
.section04{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin: 20px;
     text-align: center;
}
.section03{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
    padding: 5px;
}

.section01{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.section02{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
 }

 iframe{
    border-radius:7px;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }
/*Secciones del Index*/



/* Divs para todos los archivos html*/
.Divs{
    align-items: center;
    margin: 20px 5px 20px 20px ;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient(circle at 50%, #1a5555, #000000);
    top:-12px;
    padding: 10px 0 10px 0px;
    width: 1150px;
    
}

  
/* Divs para todos los archivos html*/

/*Secciones para el archivo Alimentación*/

.section05{
    display: flex;
    flex-wrap: wrap;
    justify-content: start; 
    align-items: center;
    text-align: center;
    margin: 10px 0 10px;
    
}

.section-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    text-align: center;
    position: relative;
    margin: 10px 40px 35px  40px;
    img{
       border-radius: 10px;
       width: 700px;
       height: 400px;
    }
    
    


}

.section06{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 40px 40px 40px;
}

/*Secciones para el archivo Alimentación*/


/* Secciones para el archivo Sobre nosotros*/




/* Secciones para el archivo Sobre nosotros*/

